.Button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.Button:hover {
  color: #fff;
  background-color: #000;
}
